name: Build

on:
  push:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.0"
          channel: "stable"
      - run: flutter pub get
      - run: dart run build_runner build
      - run: cd api && flutter pub get
      - run: cd api && dart run build_runner build
      - run: flutter gen-l10n
      - run: flutter test
  build-web:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.0"
          channel: "stable"
      - run: flutter pub get
      - run: dart run build_runner build
      - run: cd api && flutter pub get
      - run: cd api && dart run build_runner build
      - run: flutter gen-l10n
      - run: flutter build web --release
      - uses: montudor/action-zip@v1
        with:
          args: zip -qq -r build-web.zip build/web
      - uses: actions/upload-artifact@v5
        with:
          name: build-web
          path: build-web.zip

  build-android:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v5
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.0"
          channel: "stable"
      - uses: actions/setup-java@v5
        with:
          distribution: "adopt"
          java-version: "17"
      - run: flutter pub get
      - run: dart run build_runner build
      - run: cd api && flutter pub get
      - run: cd api && dart run build_runner build
      - run: flutter gen-l10n
      - run: flutter build apk --release
      - uses: actions/upload-artifact@v5
        with:
          name: build-apk
          path: build/app/outputs/flutter-apk/app-release.apk

  version_bump:
    if: "!startsWith(github.event.head_commit.message, '[RELEASE]') && github.ref == 'refs/heads/main'"
    runs-on: ubuntu-latest
    needs: [build-web]
    steps:
      - uses: actions/checkout@v5
        with:
          token: ${{secrets.PAT}}
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.0"
          channel: "stable"
      - run: |
          flutter pub get
          git config --global user.name 'Johannes Jahn'
          git config --global user.email 'johannes.jahn@outlook.com'
          flutter pub run version_bmp -g
          git push
          git push --tags
  build-image:
    if: startsWith(github.event.head_commit.message, '[RELEASE]') && github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    needs: [build-web]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - uses: actions/download-artifact@v6
        with:
          name: build-web
          path: build-web
      - name: directory
        run: mkdir -p build/web
      - name: Extract web build to build/web
        run: unzip build-web/build-web.zip -d .
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Install yq
        run: sudo apt update && sudo apt install -y yq
      - name: Extract version
        id: meta
        run: |
          version=$(yq -r .version ./pubspec.yaml | cut -d'+' -f1)
          echo "version=$version" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            johannesjahn/nacho-chat:latest
            johannesjahn/nacho-chat:${{ env.version }}
  create-image-tag-pr:
    if: startsWith(github.event.head_commit.message, '[RELEASE]') && github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    needs: [build-image]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5
      - name: Configure Git
        run: |
          git config --global user.email "johannes.jahn@outlook.com"
          git config --global user.name "Johannes Jahn"
      - name: Clone and Modify Helm Repository
        env:
          PAT: ${{ secrets.TARGET_REPO_PAT }}
          TARGET_REPO: johannesjahn/chat-api-helm
        run: |
          sudo snap install yq --classic
          TARGET_BRANCH="chore/bump-nacho-chat-to-${{ env.version }}"
          git clone https://${{ github.actor }}:${{ env.PAT }}@github.com/${{ env.TARGET_REPO }}.git ${{ env.TARGET_REPO }}
          cd ${{ env.TARGET_REPO }}
          git checkout -b $TARGET_BRANCH

          yq eval ".images.frontend.version = \"${{ env.version }}\"" -i values.yaml

          git add .
          git commit -m "Bump frontend to nacho-chat ${{ env.version }}"

          git push origin $TARGET_BRANCH

      - name: Install GitHub CLI
        run: |
          sudo apt-get update
          sudo apt-get install gh -y

      - name: Create Pull Request in chat-api-helm
        env:
          GH_TOKEN: ${{ secrets.TARGET_REPO_PAT }}
          TARGET_REPO: johannesjahn/chat-api-helm
          PR_TITLE: "Automated PR: Update from Source Repo"
          PR_BODY: "This PR was automatically generated by the GitHub Action workflow in ${{ github.repository }}."
        run: |
          TARGET_BRANCH="chore/bump-nacho-chat-to-${{ env.version }}"
          gh pr create \
            --repo ${{ env.TARGET_REPO }} \
            --title "${{ env.PR_TITLE }}" \
            --body "${{ env.PR_BODY }}" \
            --head $TARGET_BRANCH \
            --base main
